.feed {
    flex: 1;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1026px) {
    .feed {
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10px;
    }}